{% extends "./base.html" %}

{% block content %}


      {% for entry in entries %}

        <!-- Begin Featured Work -->
        <article>
          <div class="row">
            <div class="col-md-12">
              <h2>
                {{ entry.subject }}
              </h2>
            </div>
          </div>

          <!-- First row of featured work: Fresh Tomatoes, Tournament and Quiz -->
          <div class="row text-center">

            <!-- Fresh Tomatoes Project -->
            <div class="col-md-10 col-md-offset-1">
              <p>
                {{ entry.content }}
              </p>
            </div>
          </div>
        </article>
  
        <div class="row">
          <div class="col-md-12">
            <hr class="hr">
          </div>
        </div>

      {% endfor %}

{% endblock %}