{% extends "/blog/blog_base.html" %}

{% block content %}
  
      <!-- Begin Featured Work -->

      <form method="post">
        <label class="row">
          <div class="col-md-10 col-md-offset-1">Subject</div>
          <div class="row">
            <input class="col-md-10 col-md-offset-1" type="text" name="subject" value="{{ subject }}">
          </div>
        </label>

        <label class="row">
          <div class="col-md-10 col-md-offset-1">Content</div>
          <div class="row">
            <textarea class="col-md-10 col-md-offset-1" rows="10" name="content">{{ content }}</textarea>
          </div>
        </label>

        <div class="row">
          <div class="col-md-10 col-md-offset-1 error">
            {{ error }}
          </div>
        </div>

        <div class="row">
          <input type="submit" class="col-md-10 col-md-offset-1">
        </div>

      </form>

{% endblock %}