{% extends "/base.html" %}

{% block content %}
  <div class="row">
    <h2 class="col-md-4 col-md-offset-3">Signup</h2>
  </div>

  <br>
  
    <form method="post">

      <div class="row">
        <div class="label col-md-2 col-md-offset-3">
          Username
        </div>
        <input class="col-md-4" type="text" name="username" value="{{ username }}" placeholder="Username">
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-5 text-danger">
          <strong>{{ username_error }}</strong>
        </div>
      </div>

      <div class="row">
        <div class="label col-md-2 col-md-offset-3">
          Password
        </div>
        <input class="col-md-4" type="password" name="password" value="{{ password }}" placeholder="Password">
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-5 text-danger">
          <strong>{{ password_error }}</strong>
        </div>
      </div>

      <div class="row">
        <div class="label col-md-2 col-md-offset-3">
          Verify Password
        </div>
        <input class="col-md-4" type="password" name="verify" value="{{ verify }}" placeholder="Verification">
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-5 text-danger">
          <strong>{{ verify_error }}</strong>
        </div>
      </div>

      <div class="row">
        <div class="label col-md-2 col-md-offset-3">
          Email (optional)
        </div>
        <input class="col-md-4" type="text" name="email" value="{{ email }}" placeholder="Email (Optional)">
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-5 text-danger">
          <strong>{{ email_error }}</strong>
        </div>
      </div>
      
      <div class="row">
        <input class="col-md-1 col-md-offset-7" type="submit">
      </div>

    </form>
 
 {% endblock %}